/* 
////////////////////////////////////////////////////////
////////////////////////////////////////////////////////
// Homepage 
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0px;
  padding: 0px;
  justify-content: center;
  height: 100%;
}

.container {
  max-width: 1080px;
  margin: auto;
}

button {
  margin: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  background-color: #e7961d;
  border: none;
}

/* 
////////////////////////////////////////////////////////
////////////////////////////////////////////////////////
// Utility
*/
.display-l {
  font-size: 48px;
}
.padding-m {
  padding: 1.5rem;
}

/* 
////////////////////////////////////////////////////////
////////////////////////////////////////////////////////
// Header Component
*/
.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./assets/vanl-life.jpg");
  /* Position and center the image to scale nicely on all screens */
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.hero-text {
  text-align: left;
  position: absolute;
  top: 33%;
  left: auto;
}
/* 
////////////////////////////
// Responsive 
//
////////////////////////////
*/

/* tab */
@media only screen and (min-width: 768px) {
  .header {
    height: 550px;
  }
}
/* desktop */
@media only screen and (min-width: 1200px) {
  .header {
    height: 750px;
  }
}

/* 
////////////////////////////////////////////////////////
////////////////////////////////////////////////////////
// Nav Component
*/

.nav-bar {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  align-items: center;
  color: white;
  padding: 1rem 0;
}
.logo {
  margin: 0 1.5rem;
}
.nav-links {
  list-style: none;
  font-weight: 600;
  display: flex;
}
.nav-links > li {
  margin: 0 1.5rem;
}
ul {
  padding: 0.75rem;
  /* border: 1px solid white; */
  border-radius: 1.5rem;
}
