/* 
////////////////////////////////////////////////////////
////////////////////////////////////////////////////////
// Homepage 

*/
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  justify-content: center;
}
.container {
  width: 1280px;
  margin: auto;
}

/* 
////////////////////////////////////////////////////////
////////////////////////////////////////////////////////
// Nav Component

*/
.nav-bar {
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
.nav-links {
  list-style: none;
  font-weight: 600;
  display: flex;
}
.nav-links > li {
  margin: 0 2rem;
}

/* 
////////////////////////////////////////////////////////
////////////////////////////////////////////////////////
// Testimonials Component
/*/
